*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family:PTSerif ;
}
body{
    overflow: hidden;
}

main{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;    
    >div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        padding: 200px 50px;       
        >img{
            padding: 25px 25px;
            border: 1px solid black;            
            transition:0.75s;            
        }
        }
    >div:nth-of-type(1)>img{
        transform: translateY(1000%) ;
    }    
    
}
._left{
    transform: translateX(1000%) ;
}
._scale{
    transform: scale(0) ;
}

